*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-img{
    background:url(../images/1.Place\ Your\ Image\ Here\ \(Double\ Click\ to\ Edit\).png);
    width:100%;
    background-size:contain;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    
    
}
.img1{
    margin:-20px -30px 0 -30px;
}
.img2{
    display:flex;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    flex-wrap: wrap;
    
}
ul li{
    display: inline;
    margin:20px;
    
}
.img2 .logo{
    width:50%;
    margin: 15px 0 0 50px;
}
.img2 .nav{
    width:40%;
    margin-top:40px;
}
ul button{
    font-size:20px;
}
.info{
    margin:170px 80px;
    width:25%;

}
.info h1{
    font-size:55px;
    color:#ec9831;
    font-family:'Open Sans', sans-serif;
    text-shadow:0 5px 3px black;
    
}
.info h4{
    
    font-family:'Open Sans', sans-serif;
    margin-top:10px;
}
.info button{
    background: white;
    border: none;
    font-weight:800;
    padding:10px 20px;
    border-radius:20px;
    margin-top:40px;
    margin-bottom:20px;
    font-family:'Open Sans', sans-serif;
}
.info p{
    font-size:15px;
    font-family:'Open Sans', sans-serif;
}
.img3{
margin:0 -30px -20px -30px;
}
.inf1 h1{
    color:#ec9831;
    font-size:40px;
}
.info1{
    width:100%;
    
}
.info1 .inf1{
    width:30%;
    margin: auto;
    text-align: center;
    
}
.inf1 p
{
    font-size:20px;
    color:#7f7770;
    padding:30px 0;
}
.photo-main
{
    width:85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.photos
{
    height:460px;
    width:30%;
}
.photo-img
{
    height:300px;
    width: 100%;
    
}
.photo-info
{
    height:160px;
    background:#7f7770;
    padding-left:20px;
    padding-top:30px;
}
.photo-info p{
    font-size:20px;
    margin-top:10px;
    color:white;
}
.photo-info h2{
    color: white;
}

.info1 button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    background:#7f7770;
    color:white;
    border: none;
    padding:14px 25px;
    border-radius:30px;
    font-weight:800;
   
}
.discount{
    display:flex;
    width:100%;
    flex-wrap: wrap;
}
.discount1{
    width:50%;

}
.discount2{
    width:50%;
    background: url(../images/1\ Shape\ \(1\).png);
    padding:50px;
}

.discount2 h1{
    font-size:45px;
    margin: 200px 0 0 0;
    color: white;    
}
.discount2 p{
    font-size:30px;
    margin: 50px 0 50px 0;
    color: white;
   
}
.buy-offer{
    width:100%;
    display: flex;
    flex-wrap: wrap;
}
.offer1{
    width:50%;
    background: url(../images/2\ Shape\ \(1\).png);
    padding:50px;
}
.offer2{
    width:50%;
}
.offer1 h1{
    font-size:45px;
    margin: 200px 0 0 0;
    color: white;
}
.offer1 p{
    font-size:30px;
    margin: 50px 0 50px 0;
    color: white;   
}

.shape{
    background:url(../images/1\ Shape\ \(1\).png);
    width:100%;
}
.shape{
    overflow: hidden;
}
.shape1{
    margin:-10px 0 0 -30px;
}
.shape2{
    margin:100px auto;
    color:white;
    width:36%;
    text-align: center;
}
.shape2 p{
    font-size:20px;
    margin-top:20px;
    color:#dbdbdb;
}
.shape2 h1{
    font-size:40px;
}
.shape3{
    margin:0 -30px -10px -30px;
}
.shape-img{
    background: url(../images/Place\ Your\ Design\ Here\ \(Double\ Click\ to\ Edit\)14.png);
    width:100%;
    overflow: hidden;
   background-size:contain;
   background-repeat: no-repeat;
}
.shape-img1{
    margin: -15px -30px 0 -30px;
}
.shape-img2{
    margin:240px -30px 240px auto;
    width:30%;
}
.shape-img2 h2{
    font-size:40px;
    font-family:'Open Sans', sans-serif;
    color: #ec9831;
    text-shadow: 3px 0 5px black;
}
.shape-img2 h1{
    font-size:50px;
    font-family:'Open Sans', sans-serif;
    color:#54524f;
    text-shadow: 3px 0 5px black;
    margin-left:-80px;
    margin-top:10px;
}
.shape-img3{
    margin:0 -30px -15px -30px;
}
.text{
    display: flex;
    width:100%;
    justify-content: center;
    margin-top:30px;
    flex-wrap: wrap;
}
.text1{
    width:20%;
    margin:20px;

}
.text1 h1{
    margin-bottom:10px;
    color: #ec9831;
}
.text1 p{
    color: #7f7770;
}
.text-info{
    text-align: center;
    margin:150px auto auto auto;
    width:30%;
}
.text-info p{
    font-size:18px;
    color:#54524f;
}
.text-info h5{
    margin-top:40px;
    font-size:18px;
    color:#54524f;
}
.text-info h1{
    font-size:50px;
}

.title{
    background: url(../images/2\ Shape\ \(1\).png);
    width:100%;
    overflow: hidden;
}
.title1{
    margin:-50px -30px 0 -30px;
}
.titel2{
    width:35%;
    text-align: center;
    margin:120px auto;
    
}
.titel2 h1{
    font-size:50px;
    color:white;
}
.titel2 p{
    font-size:20px;
    color: #54524f;
    padding:40px 0;
}
.titel2 input{
    padding:10px 200px 10px 20px;
    border: none;
    border-radius:30px;
    
}
.titel2 button{
    padding: 10px 20px;
    border: none;
    background: #54524f;
    border-radius:30px;
    color:white;
    font-weight:800;
}
.titel3{
    margin:0 -30px -20px -30px;
}
.f-info{
    background:url(../images/1\ Shape\ \(1\).png);
    width:100%;
    overflow: hidden;
    
}
.f-info1{
   margin:-10px -30px 0 -30px;
}
.f-info2{
    width:100%;
    display: flex;
    justify-content: center;
    margin-top:200px;
    margin-bottom:50px;
    flex-wrap: wrap;
}
.footer2{
    width:45%;
}
.footer2 i{
    background:white;
    height:30px;
    width:30px;
    text-align: center;
    line-height:30px;
    font-size:20px;
    border-radius:30px;
    margin:0 0 0 5px;
    color: #54524f;
}
.footer2 h1{
    color:white;
}
.footer2 p{
    font-size:20px;
    width:50%;
    color: white;
    margin:20px 0;
}
.footer1{
    width:45%;
    display: flex;

}
.service{
    width:25%;
    color:#ffffff;
    margin: 0 0 0 auto;
}
.service h1{
    margin-bottom:15px; 
}
.service p{
    margin:5px;
}
